body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

h1 {
    margin-top: 20px;
}

.btn-primary {
    background-color: #ff5722;
    border-color: #ff5722;
}

.btn-primary:hover {
    background-color: #e64a19;
    border-color: #e64a19;
}
