body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.list-group-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.text-primary {
    color: #ff5722 !important;
}
